<body class="websiteRegistrationBody">
	<div class="websiteRegistration">
		<p style="color:red;">
		<em>
			<% if flash[:failed] %>
				<%= flash[:failed] %>
			<% end %>
		</em>
		</p>
		<div class="websiteRegistration-group">
			<%= form_for :website do |f| %>
				<p> <%= f.url_field :url,required:"required",placeholder:" website url","class"=>"websiteRegistration-data" %></p>
				<p> <%= f.text_field :name,required:"required",placeholder:" website name","class"=>"websiteRegistration-data" %></p>
				<%= f.submit "Add Website","class"=>"btn btn-primary" %>
			<% end %>
			<p> <%= link_to "back to home",home_url,method:"get" %> </p>
		</div>
	</div>
</body>